.envrc
.idea/
.env
.DS_Store
dist/
__pycache__/
build/
venv/
justai.egg-info
justai.egg-info/
justai/saves
*.xlf
*.pickle
/test.sh
/main.log
/justai/tools/llmcache.db
/upautoniveau.sh
/upharmsen.sh
/justai/tools/justai_log.db
/upsettle.sh
/upelectude.sh
/qodana.yaml
/examples/structured_output.py
