python-dateutil
openai>=1.40.0
python-dotenv
rich
tenacity
setuptools
packaging
pip
pytest
tiktoken
lxml==5.1.1 # for translator, vanaf 5.2.0 moet lxml_clean apart geïnstalleerd worden
llama-cpp-python  # For guff_models
anthropic
justdays
httpx